{{#if landmarkData2}}
  <ul>
    <div class="w-3/4 mx-auto mt-8">
      <div class="space-y-4">
        {{#each landmarkData2}}
          <div class="bg-white rounded-lg p-6 relative">
            <div class="flex items-start justify-between">
              <div>
                <p class="font-bold text-lg">{{this.location}}</p>
                <p class="text-sm">{{this.name}} - {{this.type}}</p>
              </div>
              <div class="text-right">
                <p class="text-xs text-gray-500">{{this.user.username}}</p>
              </div>
            </div>
            <hr class="my-4">
            <p class="text-sm">{{this.review}}</p>
           
          </div>
        {{/each}}
      </div>
    </div>
  </ul>

  <form action="/comment/landmarkId" method="POST" id="commentForm" class="mt-8">
    <div class="w-2/3 mx-auto">
        <div class="bg-white rounded-lg p-4 relative flex items-center justify-between">
            <textarea name="commentText" class="w-full h-16 border border-gray-300 rounded-md p-2" placeholder="Enter your comment" name="query"></textarea>
            <button type="submit" class="p-2 bg-blue-900 text-white rounded-md text-xs">Post</button>
        </div>
    </div>
</form>


  {{#each commentData2}}
    <div class="w-2/3 mx-auto bg-gray-200 rounded-lg p-4 mt-4">
      
        <p class="text-xs text-gray-500">{{this.user_username}}</p>
      
      <p class="text-sm">{{this.review}}</p>
    </div>
  {{/each}}

{{/if}}