<div class="text-center">
  <h2>{{landmark.trip}}</h2>
  <p>Posted by {{landmark.user_id.username}} on {{format_date landmark.date}}</p>

  <p>
    <!-- Location of Itinerary -->
    <span for="img" aria-label="Compass">&#129517;</span>
    <span class="location">{{landmark.location}}</span>
  </p>
  <p>
    <!-- Name of Landmark -->
    <span for="img" aria-label="Magnifying">&#128270;</span>
    <span class="landmark">{{landmark.name}}</span>
  </p>
  <!-- Itinerary Description -->
  <p>{{landmark.review}}</p>
</div>

<!-- Display comments for the selected itinerary -->
<div id="comments-section">
  <h3>Comments on this Itinerary</h3>
  <ul id="comments-list"></ul>
</div>

<!-- Post comment function -->