<!-- Loop over each object in the itinerary array -->
{{#each landmark as |landmark|}}
  <div class="row mb-4">
    <div class="col-md-5">
      <h2>
        <!-- Name of Itinerary -->
        <a href="/Landmark/{{landmark.id}}">{{landmark.trip}}</a>
      </h2>
      <p>
        <!-- Destination of Itinerary -->
        <span for="img" aria-label="Compass">&#129517;</span>
        <span class="destination">{{landmark.location}}</span>
      </p>
      <p>
        <!-- Landmark of Itinerary -->
        <span for="img" aria-label="Magnifying">&#128270;</span>
        <span class="landmark">{{landmark.name}}{{landmark.type}}</span>
      </p>
      <!-- Creator of Itinerary -->
      <p>Posted by
        {{landmark.user_id.username}}
        on
        {{format_date landmark.date}}</p>
    </div>
    <div class="col-md-7">
      <p>
        <!-- Itinerary Description -->
        {{landmark.review}}
      </p>
      <p>
        <!-- Click button to review itinerary comments -->
        <button
          class="reveal-comments"
          data-itinerary-id="{{landmark.comment}}"
        >Review Comments</button>
      </p>
    </div>
  </div>
{{/each}}