<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmark Search</title>
</head>
<body>
    <h1>Landmark Search</h1>

    

    {{#if landmarkData2}}
        <h2>Search Results:</h2>
        <ul>
            <div class="space-y-4">
                <div class="flex justify-center items-center min-h-screen">
                    <div class="space-y-4">
                        {{#each landmarkData2}}
                        <div class="bg-white rounded-lg p-4">
                            <div class="flex items-start justify-between">
                            <div>
                                <p class="font-bold">{{this.location}}</p>
                                <p class="text-sm">{{this.name}} - {{this.type}}</p>
                            </div>
                            <div class="text-right">
                                <p class="text-sm">{{this.review}}</p>
                                <p class="text-xs text-gray-500">{{this.username}} - {{this.date}}</p>
                            </div>
                            </div>
                            <hr class="my-2">
                            <p class="text-sm">{{this.review}}</p>
                        </div>
                        {{/each}}
                    </div>
                    </div>
        </ul>
    {{/if}}
    <script src="/js/script.js"></script>
</body>
</html>