    {{#if landmarkData2}}
        <h2 class = "text-center text-xl text-white font-base bg-blue-900 px-2 py-2 rounded mb-5 mt-5">Search Results ⬇️ </h2>
        <ul>
            <div class="w-3/4 mx-auto">
                <div class="space-y-4">
                    {{#each landmarkData2}}
                        <div class="bg-white rounded-lg p-4 relative">
                            <div class="flex items-start justify-between">
                                <div>
                                    <p class="font-bold">{{this.location}}</p>
                                    <p class="text-sm">{{this.name}} - {{this.type}}</p>
                                </div>
                                <div class="text-right">
                                    <p class="text-xs text-gray-500">{{this.user.username}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <p class="text-sm">{{this.review}}</p>
                            <p class="invisible absolute bottom-2 right-2 text-xs text-gray-500" id="landmarkid">{{this.id}}</p>
                            <form action="/comment/{{this.id}}" method="GET" id="commentForm">
                                <button type="submit" id="viewCommentsButton" class="absolute bottom-2 right-2 p-2 bg-blue-900 text-white rounded-md text-xs">View Comments</button>
                            </form>
                        </div>
                    {{/each}}
                </div>

                
            </div>
        </ul>
    {{/if}}
    <script src="/js/script.js"></script>
    
    
